.getInvolvedBtn {
  background-color: var(--mainColor);
  font-size: 1rem;
  padding: 1rem 1.5rem;
  color: var(--mainWhite);
  border-radius: 9999px;
}

.getInvolvedBtn:hover {
  background-color: #570a1f;
  transition: 0.2s all ease-in-out;
}

@media screen and (max-width: 480px) {
  .getInvolvedBtn {
    padding: 0.5rem 1rem;
  }
}
